{% extends "base.html" %} 
{% block title %} Jihan - Add project {%endblock %}
{% block content %}
<!-- ! KITA RAPIHIN PAGENYA -->
<!-- *ADD PROJECT PAGE -->
<section class="experience-section">
    <div class="container">
        <h1>Add New Projects</h1>
        <form method="post"
                action="{% url 'main:create_project' %}"
                class="project-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="form-group">
                <label for="secret_code">Kode Rahasia</label>
                <input type="password" name="secret_code" id="secret_code" required>
            </div>

            <button type="submit" class="button">Tambah Project</button>
            <a href="{% url 'main:show_showcase' %}" class="button button-secondary">Batal</a>
        </form>
    </div>
</section>
{% endblock %}
