{% extends "base.html" %} 
{% block title %} Jihan - Expertise {%endblock %}
{% block content %}
<!-- ! RAPIHIN SHOWCASE PAGE -->
<!-- *MY EXPERTISE SECTION -->
<section class="hero" id="my-expertise">
  <h1 class="title-page">What I Work With</h1>

  <div class="section-container expertise-grid">
    {% for item in expertise %}
    <div class="expertise-card">
      <span class="expertise-icon-box">
        <i class="{{ item.icon }}"></i>
      </span>
      <div class="expertise-text">
        <span class="expertise-name">{{ item.name }}</span>
        <span class="expertise-category">{{ item.category }}</span>
      </div>
      
    </div>

    {% empty %}
    {% include "components/emptyState.html" with empty_message="Belum ada expertise yang ditambahkan" %}
    {% endfor %}
  </div>
</section>
{% endblock %}
